.card {
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 10px;
 position: relative;
 padding: 30px 10px 10px 10px;
 max-width: 230px;
 border-radius: 16px;
 border: 1px solid rgba(255, 255, 255, 0.3);
 color: #fff;
 background: #f857a53b;
 background: -webkit-radial-gradient(circle, #f857a567 0%, #ff585870 100%);
 background: radial-gradient(circle, #f857a567 0%, #ff585870 100%);
 box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
 -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
 backdrop-filter: blur(5px);
 -webkit-backdrop-filter: blur(5px);
 transition: all 0.5s ease-in-out;
}

.card a {
 text-decoration: none;
}

.card:hover {
 scale: 1.05;
 box-shadow: 4px 4px #e1e1e5;
}

.image {
 width: 90%;
 border: 5px solid #fff;
 border-radius: 50%;
 transition: all 0.5s ease-in-out;
}

.buttonsDiv {
 display: flex;
 justify-content: space-between;
 position: absolute;
 top: 15px;
 width: 90%;
}

.title {
 font-family: 'Josefin Sans', sans-serif;
 font-size: 1.2rem;
 color: #fff;
 line-height: 1.6rem;
 margin: 0;
 transition: all 0.5s ease-in-out;
}

.title:hover {
 scale: 1.1;
}

.contentDiv {
 display: grid;
 grid-template-columns: 50% 50%;
 justify-content: space-around;
 gap: 10px;
 width: 90%;
 text-align: center;
 transition: all 0.5s ease-in-out;
}

.content {
 font-family: 'Nobile', sans-serif;
 font-size: 12px;
 line-height: 1rem;
 font-weight: normal;
 letter-spacing: 1px;
 margin: 0;
}

.close {
 font-family: 'Nobile', sans-serif;
 font-size: 18px;
 font-weight: 700;
 color: #fff;
 border: none;
 background-color: transparent;
 transition: all 0.3s ease-in-out;
 cursor: pointer;
}

.close:hover {
 font-size: 22px;
}