.searchBar {
 display: flex;
 gap: 10px;
 align-items: center;
 justify-content: center;
}

.searchInput {
 border: 1px solid #fff;
 border-radius: 7px;
 background: transparent;
 width: 40%;
 font-size: 16px;
 padding: 5px 20px;
 box-sizing: border-box;
 color: #fff;
 letter-spacing: 1px;
 font-weight: 300;
 font-family: 'Pridi', serif;

}

.searchInput:focus-visible {
 border: 1px solid #fff;
}

.searchButton {
 box-sizing: border-box;
 border: none;
 font-size: 16px;
 padding: 10px 20px;
 border-radius: 7px;

}