.searchBar {
 display: flex;
 place-content: center center;
 gap: 10px;
 flex-grow: 2;
 max-width: 650px;
}

.searchInput {
 flex: 1 1;
 font-family: 'Pridi', serif;
 font-size: 14px;
 font-weight: 300;
 letter-spacing: 1px;
 color: #fff;
 padding: 7px 30px;
 box-sizing: border-box;
 border: 1px solid #fff;
 border-radius: 7px;
 background: transparent;
 outline: none;
 transition: all 0.5s ease-in-out;
}

.searchInput:focus-visible {
 box-shadow: 4px 4px #e1e1e5;
 scale: 1.01;
}

.searchInput:hover {
 box-shadow: 4px 4px #e1e1e5;
 scale: 1.01;
}

.searchInput::placeholder {
 color: #fff;
}

.searchInput::placeholder:focus {
 color: transparent;
}

.searchButton {
 font-family: 'Pridi', serif;
 font-weight: 300;
 color: #e1e1e5;
 padding: 7px 30px;
 border: 1px solid #e1e1e5;
 border-radius: 7px;
 background-color: transparent;
 transition: all 0.5s ease-in-out;
}

.searchButton:hover {
 box-shadow: 4px 4px #e1e1e5;
 scale: 1.01;
}